.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 2em;
  margin-right: 2em;
  margin-top:2em;
}

.mat-table {
  overflow: auto;
}

.heading{
  text-align: center;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

.prediction-table{
  margin: 2px;
}

.point-table{
  background-color: lightyellow;
  margin: 2px;
}

.correct{
  background-color: green;
}

