<mat-toolbar color="primary">
  <mat-icon routerLink='/home'>home</mat-icon>
  <span>{{title}}</span>
  <span class="spacer"></span>

  <button mat-icon-button routerLink='/settings' *ngIf="isActiveUser">
    <mat-icon>settings</mat-icon>
  </button>

  <p>{{(authService.user$ |async)?.displayName}} </p>
  <mat-icon *ngIf="(authService.user$ |async)?.uid" class="icon" (click)="logout()">exit_to_app</mat-icon>
  <mat-icon *ngIf="!(authService.user$ |async)?.uid" routerLink='/user/login'>account_circle </mat-icon>
</mat-toolbar>