 .container {
  display: flex;
  align-items: center;
  height:100vh; 
  justify-content: center;
  flex-direction: row;

} 

.add-item{
  /* margin: 10px; */
  /* width:200px; */
  /* width: 100vw; */
  /* margin: auto; */
   /* background-color: green  */
  
}

/* .display-item{
  margin: 10px;
  width:500px;
} */

