
<mat-card *ngIf="tournament">
      <mat-card-title align="center">
      <u>{{tournament.name}}</u>
    </mat-card-title>
</mat-card>
<div *ngIf="schedules.length > 0">
  <mat-card>
    <div *ngFor="let schedule of schedules">
      <mat-grid-list cols="5" rowHeight="50px">
        <mat-grid-tile> {{schedule.gameDate | date: 'dd-MM-yyyy HH:mm:ss Z'}}</mat-grid-tile>
        <mat-grid-tile><div class="text-inside-grid"> {{schedule.venue}}</div></mat-grid-tile>
        <mat-grid-tile><div class="text-inside-grid"> {{schedule.team1}}</div></mat-grid-tile>
        <mat-grid-tile><div class="text-inside-grid"> {{schedule.team2}}</div></mat-grid-tile>
        <mat-grid-tile><mat-icon (click)="remove(schedule)">delete</mat-icon></mat-grid-tile>
      </mat-grid-list>
    </div>
  </mat-card>

</div>

<div *ngIf="tournament">
  <mat-card>
    <mat-card-content>
      <form novalidate [formGroup]="TournamentSchedulerForm">
        <div formArrayName="gameLines" *ngFor="let gameLine of TournamentSchedulerForm.controls.gameLines.controls;let i=index">
          <div [formGroupName]="i">
            <mat-grid-list cols="5" rowHeight="50px">

              <mat-grid-tile>
                <mat-form-field>
                  <input matInput type="datetime-local" formControlName="gameDate" >                  
                </mat-form-field>
              </mat-grid-tile>

              <mat-grid-tile>
                <mat-form-field>
                  <input matInput formControlName="venue" placeholder="Venue">
                </mat-form-field>
              </mat-grid-tile>

              <mat-grid-tile>
                <mat-form-field>
                  <mat-select formControlName="team1" placeholder="Select sport">
                    <mat-option *ngFor="let team of teams" [value]=team>{{team}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </mat-grid-tile>

              <mat-grid-tile>
                <mat-form-field>
                  <mat-select formControlName="team2" placeholder="Select sport">
                    <mat-option *ngFor="let team of teams" [value]=team>{{team}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </mat-grid-tile>

            </mat-grid-list>
          </div>
        </div>
        <button mat-raised-button color="primary" (click)="addGameLines(1)">Add another item</button>
        <button mat-raised-button color="primary" (click)="createTournamentSchedule()">Schedule it </button>
      </form>
    </mat-card-content>
  </mat-card>
</div>