<div class="bg">
  <div class="flex-container">
    <div *ngFor="let league of league$ | async">
      <mat-card class="card" (click)="onClick(league)">
        <mat-card-title> {{league.leagueName}} </mat-card-title>
        <mat-card-header>{{league.tournamentName}}</mat-card-header>
      </mat-card>
    </div>
  </div>
</div>

<!-- <mat-grid-list cols=1 rowHeight=3:1>
  <mat-grid-tile>
     <mat-card  *ngFor="let league of league$ | async" class="card" (click)="onClick(league)">
      <mat-card-title> {{league.leagueName}} </mat-card-title>
      <mat-card-header>{{league.tournamentName}}</mat-card-header>
    </mat-card> 
  </mat-grid-tile>
</mat-grid-list> -->