
  .main-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  button[mat-fab] {
    position: fixed;
    bottom: 25px;
    right: 25px;
}

.tour-card {
  padding: 1em;
  border: 1px solid #c0c0c0;
  margin-top: 5px;
  border-radius: 5px;
}