<div class="main-container">
  <div class="schedule-card" *ngFor="let tournament of tournaments$|async">
    <mat-card class= "tour-card">
        <mat-card-title>{{tournament.name}}</mat-card-title>     
        <button  color="primary" mat-raised-button (click)="gotoTournamentScheduler(tournament)"> UPDATE SCHEDULE</button>
        <button  color="primary" mat-raised-button (click)="gotoUpdateResults(tournament)">UPDATE RESULTS</button>   
    </mat-card>
  </div>
</div>

<button mat-fab routerLink='/letsplay/add-tournament'>
  <mat-icon>add</mat-icon>
</button>