
  <div class="flex-container">
    <mat-card>
      <mat-card-header>
        <!-- <div mat-card-avatar class="header-image center"></div> -->
      </mat-card-header>
      <div class="flex-item">
        <mat-icon>perm_identity</mat-icon>
        <mat-form-field>
          <input matInput placeholder="Email">
        </mat-form-field>
      </div>
      <div class="flex-item">
        <mat-icon>lock_outline</mat-icon>
        <mat-form-field>
          <input matInput placeholder="Password">
        </mat-form-field>
      </div>
      <div class="flex-item">
        <button mat-raised-button color="primary">Login</button>
      </div>
      <div>
        <span>Register Now!</span>
        <span>Forgot password ?</span>
      </div>
    </mat-card>
  </div>
