<section class="login-page" style="background-image:url('/assets/images/background4.jpeg');">
    <div class="parent-container">
        <div class="child">
            <div class="items heading-item">
                Log into Prediction league
            </div>
            <div class="items">
                <button class="login-full-width" (click)="onSubmit('GOOGLE')" mat-raised-button color="primary" type="submit">
                    Log in with Google
                </button>
            </div>
            <div class="items">
                -Or-
            </div>
            <div class="items">
                <button class="login-full-width" (click)="displayEmailPassword()" mat-raised-button color="primary" type="submit">
                    Log in with Prediction Account
                </button>
                <div *ngIf="isEmailPassword">
                    <form class="login-form " [formGroup]="loginForm" novalidate (ngSubmit)="onSubmit('EMAILPASSWORD')">

                        <mat-form-field class="login-full-width ">
                            <input matInput placeholder="Username" formControlName="username">
                            <mat-error>{{usernameMessage}} </mat-error>
                        </mat-form-field>

                        <mat-form-field class="login-full-width">
                            <input matInput type="password" placeholder="Password" formControlName="password">
                            <mat-error>{{passwordMessage}} </mat-error>
                        </mat-form-field>
                        <div class="text-red"> {{loginStatus}}</div>

                        <button mat-raised-button color="primary" type="submit" class="login-full-width ">
                            <mat-icon>input</mat-icon> {{loginButtonText}}
                        </button>

                        <div *ngIf=mode>
                            <mat-progress-bar color="accent" value=50 bufferValue=75 [mode]=mode></mat-progress-bar>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>