
.flex-container {
  display: flex;
  align-items: center;
  min-height: 24em;
  justify-content: center;
}

.flex-item {
  flex: 1;
}

.Aligner-item--top {
  align-self: flex-start;
}

.Aligner-item--bottom {
  align-self: flex-end;
}

.Aligner-item--fixed {
  flex: none;
  max-width: 50%;
}

.header-image {
  background-image: url('http://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

