
.login-card {
  width: 400px;
  height: 250px;
}

.box{
  width: 50px;
  height: 63px;
  margin: auto;
}

.login-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

 .login-full-width {
  width: 100%;
} 

 .login-button{
	width: 100%;
} 

.svg-style-48{
	width:48px;
	height:48px
}

.svg-style-32{
	width:32px;
	height:32px
}

.container{
	display: flex;
	flex-direction: column;
}

.text-red{
  color: red;
}

.tooltip-host {
  display: inline-flex;
  align-items: center;
  margin: 50px;
}

.example-card {
  width: 400px;
}

.example-header-image {
  background-image: url('http://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}